<% include header%>
<style>

div .item{
    position: relative;
    width: 33px;
    border: 1px solid #cccccc;
    text-align: center;
    border-radius: 4px;
    padding-top: 30px;
    display: inline-block;
    background:black;
    
}
div .b{
    position: relative;
    width: 33px;
    border: 1px solid #cccccc;
    text-align: center;
    border-radius: 4px;
    padding-top: 30px;
    display: inline-block;
    background:black;
    
}
div .c{
    position: relative;
    width: 33px;
    border: 1px solid #cccccc;
    text-align: center;
    border-radius: 4px;
    padding-top: 30px;
    display: inline-block;
    background:black;
}
    
div .d{
    position: relative;
    width: 33px;
    border: 1px solid #cccccc;
    text-align: center;
    border-radius: 4px;
    padding-top: 30px;
    display: inline-block;
    background:black;
    
}
p{
    color:red;
    font-size: 28px;
}
div img{
    background: black;
    width: 20%;
}
body{
    background: url("/recursos/nombres.jpg");
}
</style>
<h2 style=" color: red; background:  black; text-align: center;    font-style: italic;">
    Clase de Armas  
    </h2>
<form method="post" role= "from">
    <section>
<div class="a"style= "background:black;" >
<p><strong> Blueligthtring </strong></p>
<img src="/recursos/Bluelightning.gif"/>
<div style="margin-top: -80px;
margin-left: 225px;">
        <p>
                Esta arma lo que hace en que electrocuta a los zombies aparte de partirlos por la mitad
                </p> 
</div>   

</div>
<div class="b"  style= "background:black;">
<p><strong> Arma lazer </strong></p>
<img src="/recursos/armalazer.gif"/>
<div style="margin-top: -80px;
margin-left: 225px;">
        <p>
Esta arma lo que hace en que dispara un rayo que parte a el xombie a distancia de aprox 50 metros
                </p> 
</div>   
</div>
<div class="c" style= "background:black;">
<p><strong> Calibre 50</strong></p>
<img src="/recursos/calibre50.gif"/> 
<div style="margin-top: -80px; margin-left: 225px;">
        <p>
    Esta arma lo que hace en que la persona que la acione debe estar bien fija ya que es una arma muy potente y dispara con una distancia de 500 metros
                </p> 
</div>  
</div>
<div class="d" style= "background:black;">
<p><strong> Cuchillo </strong></p>
<img src="/recursos/cuchillo.gif"/> 
<div style="margin-top: -80px;
margin-left: 225px;">
        <p>
                Este cuchillo tiene un filo especial el cual corta muy bien la carne de zombi para librarte de cualquier amenaza
                </p> 
</div>   
</div>
</section>
</form>
<% include footer %>