<% include header%>
<style>
div.item {
    position: relative;
    width: 225px;
    border: 1px solid #cccccc;
    text-align: center;
    border-radius: 4px;
    padding-top: 50px;
    display: inline-block;
    background:black;
    margin-left: 50px;
    
}
p{
    color:red;
    font-size: 28px;
}
div img{
    width: 70%;
}
body{
    background: url("/recursos/nombres.jpg");
}
</style>
<h2 style=" color: red; background:  black; text-align: center;    font-style: italic;">
    Clase de zoombies  
    </h2>
<form method="post" role= "from">
<div class="item">
<p><strong> Zombie crew </strong></p>
<img src="/recursos/zombie2.gif"/>    

</div>
<div class="item">
<p><strong> Zombie que te sigue </strong></p>
<img src="/recursos/zombie1.gif"/>    
</div>
<div class="item">
<p><strong> Zombie agresivo</strong></p>
<img src="/recursos/zombie3.gif"/>    
</div>
<div class="item">
<p><strong> Zombie miedoso </strong></p>
<img src="/recursos/zombie4.gif"/>    

</div>

</form>
<% include footer %>