<% include header%>
<style>
div.item {
    position: relative;
    width: 225px;
    border: 1px solid #cccccc;
    text-align: center;
    border-radius: 4px;
    padding-top: 50px;
    display: inline-block;
    background:black;
    margin-left: 50px;
}
div img{
    width: 150px;
}
body{
    background: url("/recursos/nombres.jpg");
}
p{
    color:red;
    font-size: 28px;
}
</style>
<h2 style=" color: red; background:  black; text-align: center;     font-style: italic;">
Clase de Victimas 
</h2>
<form method="post" role= "from">
        <div class="item">
        <p><strong> grupo de personas </strong></p>
        <img src="/recursos/persona4.gif"/>    
        <p>
            los ataca un grupo de zombies siempre alos grupos de personas
        </p>
        </div>
        <div class="item">
        <p><strong> persona que corre </strong></p>
        <img src="/recursos/persona2.gif"/>   
        <p>
            si corres los zombies que te sigen iran tras de ti
        </p>
        </div>
        <div class="item">
        <p><strong> personas en la oscuridad</strong></p>
        <img src="/recursos/persona3.gif"/>   
            <p>
                te atacan donde sea pero mas en la oscuridad ya que soy muy agresivos
            </p>
        </div>
        <div class="item">
        <p><strong> niños </strong></p>
        <img src="/recursos/persona1.gif"/>    
        <p>
            los zombies timidos buscan la oportunidad para atacar a los niños 
        </p>
        </div>
        
        </form>
<% include footer %>